<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Monitoreo Parcela 1</title>


    <!--Open Sans Font [ OPTIONAL ]-->
    {% load static %}
    <link href="{% static 'css\googleapis.css' %}" rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css\nifty.min.css' %}" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="{% static 'css\demo\nifty-demo-icons.min.css' %}" rel="stylesheet">


    <!--=================================================-->



    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="{% static 'plugins\pace\pace.min.css' %}" rel="stylesheet">
    <script src="{% static 'plugins\pace\pace.min.js' %}"></script>


    <!--Demo [ DEMONSTRATION ]-->
    <link href="{% static 'css\demo\nifty-demo.min.css' %}" rel="stylesheet">


        
</head>

<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Logo y Nombre-->
                <!--================================-->
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img src="{% static 'img\logoproyec.JPG' %}" alt="Nifty Logo"  width="220" height="59">
                        
                    </a>
                </div>
                <!--================================-->
                <!--Fin Logo y Nombre-->


                <!--Navegación-->
                <!--================================-->
                <div class="navbar-content">
                    <ul class="nav navbar-top-links">

                        <!--Botón de Navegación-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-list-view"></i>
                            </a>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--Fin Botón de Navegación-->


                    </ul>
                    <ul class="nav navbar-top-links">

                        <!--Menu de Usuario-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="ic-user pull-right">
                                    <i class="demo-pli-home"></i>
                                </span>
                            </a>


                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                <ul class="head-list">
                                    <li>
                                        <a href="#"><i class="demo-pli-male icon-lg icon-fw"></i> Perfil</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="demo-pli-gear icon-lg icon-fw"></i> Ajustes</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="demo-pli-unlock icon-lg icon-fw"></i> Cerrar Sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--Fin Menu de Usuario-->
                    </ul>
                </div>
                <!--================================-->
                <!--Fin Navegacion-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <div id="page-head">
                    
                    <div id="page-title">
                        <h1 class="text-main"><p style="text-align: center"»>MONITOREO DE SENSORES</h1>
                            <h3 class="text-main"><p style="text-align: center"»>Parcela 1</h3>
                    </div>
                    

                </div>

                        
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    <!---Desde Aqui---->
                    <br>
                    <div class="row">
                        <div class="col-lg-12" style="background-color: white">
                    
                            <div class="panel">
                    
                            <div class="col-lg-4">
                    
                                {% autoescape off %}
                                    {{ plot_div_temp }}
                                {% endautoescape %}
                            </div>
                            <div class="col-lg-4">
                    
                                {% autoescape off %}
                                    {{ plot_div_prec }}
                                {% endautoescape %}
                            </div>
                            <div class="col-lg-4">
                    
                                {% autoescape off %}
                                    {{ plot_div_rad }}
                                {% endautoescape %}
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <!--===================================================-->
                <!--End page content-->

            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->


            {% include "menu.html" %}
            
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>

        

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <p class="pad-lft">&#0169; INICTEL-UNI & UNJ 2022</p>



        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


    
    
    
    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--jQuery [ REQUIRED ]-->
    <script src="{% static 'js\jquery.min.js' %}"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{% static 'js\bootstrap.min.js' %}"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="{% static 'js\nifty.min.js' %}"></script>




    <!--=================================================-->
    
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="{% static 'js\demo\nifty-demo.min.js' %}"></script>

    
    <!--Bootstrap Wizard [ OPTIONAL ]-->
    <script src="{% static 'plugins\bootstrap-wizard\jquery.bootstrap.wizard.min.js' %}"></script>


    <!--Bootstrap Validator [ OPTIONAL ]-->
    <script src="{% static 'plugins\bootstrap-validator\bootstrapValidator.min.js' %}"></script>


    <!--Form Wizard [ SAMPLE ]-->
    <script src="{% static 'js\demo\form-wizard.js' %}"></script>

    <script type="text/javascript">
        let startDate = document.getElementById('startDate')
        startDate.addEventListener('change',(e)=>{
          let startDateVal = e.target.value
          document.getElementById('startDateSelected').innerText = startDateVal
        })
    </script>

</body>
</html>